.container-fluid {
  display: grid;
}

.navbar {
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-style: italic;
  margin: 0;
  z-index:1;
  height: 65px;

}

.fixed-top {
  position: fixed;
  width:100%;
  opacity: 0.9;
}


.right-nav {
  display: flex;
  padding: 20px;
  justify-content:flex-end;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 30px;
  font-size: 15px;
}

.navbar a:hover {
  background-color: white;
  color:black;
  opacity: 0.5;
}

.jumbotron-fluid {
  background-image:url("code.jpeg");
  height:500px;
  width: 100%;
  display: flex;
  align-items: center;
}

.jumbotron-fluid p {
text-align: center;
}

.jumbotron-fluid h1 {
  color: white;
  align-self: center;
  margin-left:auto;
  margin-right:auto;
  font-family: Montserrat;
}

.port-title h1 {
  font-family: Montserrat;
  margin-left:auto;
  margin-right:auto;
  text-decoration: underline;
  opacity: 0.7;
  box-sizing: content-box;
  width:200px;
}

.portfolio img {
  display:block;
  width: 250px;
  height:250px;
  border: 2px solid #aba2a1;
  border-radius:50px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom:10px;
}


#html-head {
  display:block;
  text-align: center;
  text-decoration-line: underline;
  font-family: Montserrat
}

#java-head {
  display:block;
  text-align:center;
  text-decoration-line: underline;
  font-family: Montserrat
}

#html-para {
  margin-top: 10px;
  text-align: center;
  font-family:Montserrat;
  font-weight: bold;
}

#java-para {
  margin-top: 10px;
  text-align: center;
  font-family:Montserrat;
  font-weight: bold;
}
